.login-form {
  text-align: center;
  width: 400px;
}

.login-headline {
  margin-bottom: 40px;
}

.form-headline {
  margin-bottom: 20px;
}

.btns {
  display: flex;
}

.password-container {
  position: relative;
}

.eye {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 16px;
}
